@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Satisfy&display=swap");
* {
  margin: 0;
  padding: auto;
  text-decoration: none;
  color: black;
  list-style: none;
  font-family: "Roboto Slab", serif;
}
body {
  position: relative;
  height: 100%;
  width: 100%;
}
h1 {
  font-size: 40px;
}
h2 {
  font: 36px;
}

h1,
h2 {
  text-transform: capitalize;
}
p {
  font-size: 19px;
}

.main-container {
  height: 100%;
  width: 100%;
}
section {
  width: 100vw;
  height: 100vh;
  max-height: auto;
  height: 100%;
}
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.container {
  padding: 40px;
  height: 100%;
}

h2::backdrop {
  content: "";
  height: 4px;
  width: 50px;
  position: absolute;
  background-color: red;
  left: 0;
}

a {
  cursor: pointer !important;
}

.section-title {
  text-align: center;

  h2 {
    font-size: 36px;
    color: #5d666e;
    padding: 20px 0;
  }
}

p {
  line-height: 2;
}

.hidden {
  display: none;
}
/** ================== NAVEBAR ================== */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // background-color: antiquewhite;
  height: 7vh;
  z-index: 1;
  padding: 20px 50px;

  #logo {
    font-size: 28px !important;

    h1 {
      font-family: "Comforter Brush", cursive !important;
      color: red;
    }
  }
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 20px;

  .active {
    padding: 10px 20px;
    background-color: #5d666e;
    color: #ffffff !important;
    border-radius: 10px;
  }

  a {
    padding: 10px 20px;
    // color: #5d666e;

    &:hover:not(.active) {
      background-color: red;
      color: #ffffff !important;
      transition: 0.6s;
      border-radius: 10px;
    }
  }
}
/** ================== HOMEPAGE ================== */
.home {
  display: flex;
  width: 100vw;
  height: 93vh;
  .img-section {
    background-color: #5d666e;
    width: 50%;
    z-index: -2;

    .profile {
      position: absolute;
      transform: rotate(10deg);
      top: 120px;
      left: -180px;
      width: 750px;
      z-index: 2;
    }
  }
  .title-section {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 20px 0;

    .title {
      padding-bottom: 100px;
      h1 {
        font-size: 50px !important;
      }
    }
  }
}

/* ** BTN ** */
.btn {
  background: red;
  background-image: -webkit-linear-gradient(top, red, red);
  background-image: -moz-linear-gradient(top, red, red);
  background-image: -ms-linear-gradient(top, red, red);
  background-image: -o-linear-gradient(top, red, red);
  background-image: linear-gradient(to bottom, red, red);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 10px;
  color: #ffffff;
  font-size: 28px;
  padding: 20px 40px;
  text-decoration: none;
}

.btn:hover {
  transform: scale(1.5) !important;
  transition: 0.8s;
  background: #5d666e;
  background-image: -webkit-linear-gradient(top, #5d666e, #5d666e);
  background-image: -moz-linear-gradient(top, #5d666e, #5d666e);
  background-image: -ms-linear-gradient(top, #5d666e, #5d666e);
  background-image: -o-linear-gradient(top, #5d666e, #5d666e);
  background-image: linear-gradient(to bottom, #5d666e, #5d666e);
  text-decoration: none;
}

.social-media {
  height: 100%;
  display: flex;
  flex-direction: column;
  .fa-github {
    position: absolute;
    right: 55px;
    font-size: 30px;
    top: 410px;
  }

  .fa-linkedin {
    position: absolute;
    right: 55px;
    font-size: 30px;
    top: 460px;
    color: #0a66c2;
  }
  hr {
    transform: rotate(90deg);
    height: 2px;
    background: black;
    width: 340px;
    position: absolute;
    right: -100px;
  }
  #top {
    // position: relative;
    top: 230px;
  }
  #bottom {
    top: 670px;
  }
}

/** ================== ABOUT PAGE ================== */
.about {
  z-index: 3;
  background-color: #ffffff;
  text-align: center;
  margin: 30px 0px;

  .typed-container {
    height: 100px;
    padding: 10px;
  }

  .hello {
    font-size: 28px;
    margin: 15px 0;

    span {
      color: red;

      font-size: 30px;
      font-weight: 900;
    }
  }

  .text-container {
    width: 65%;

    text-align: center;

    p {
      padding: 0 50px;
      text-align: start;
    }

    hr {
      width: 50%;
      margin: 20px auto;
    }

    .row {
      .knowledge-content {
        content: "";
        flex-grow: 1;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-right: 1em;
        flex-direction: row;
        align-content: flex-start;
      }
    }
  }

  //Card container:
  .card-container {
    display: flex;
    flex-direction: column;
    background: rgba(209, 207, 207, 0.418);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid rgba(255, 255, 255, 0.631);
    height: 250px;
    width: 300px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    row-gap: 20px;

    .fa-solid {
      font-size: 24px;
    }

    .card-title {
      color: red;
      font-size: 20px;
    }
    .card-body {
      padding: 0 20px;
    }
  }

  .img-container {
    padding: 40px;
    background-image: url("../imgs/profile2.JPG");
    background-position: right 40px;
    background-repeat: no-repeat;
    height: auto;
    background-size: 700px;
    background-attachment: fixed;
    width: 35%;
  }
}

/** ================== PURPOSE PAGE ================== */
.purpose {
  .row {
    .img-content {
      width: 50%;
      min-width: 50%;
      background-image: url("../imgs/target.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    .text-content {
      width: 50%;
      min-width: 50%;
    }
  }
}

/* =============== EDUCATION TIMELINE ================ */

.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;

  &:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: " ";
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: rgb(80, 80, 80);
    background: -moz-linear-gradient(
      top,
      rgba(80, 80, 80, 0) 0%,
      rgb(80, 80, 80) 8%,
      rgb(80, 80, 80) 92%,
      rgba(80, 80, 80, 0) 100%
    );
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, rgba(30, 87, 153, 1)),
      color-stop(100%, rgba(125, 185, 232, 1))
    );
    background: -webkit-linear-gradient(
      top,
      rgba(80, 80, 80, 0) 0%,
      rgb(80, 80, 80) 8%,
      rgb(80, 80, 80) 92%,
      rgba(80, 80, 80, 0) 100%
    );
    background: -o-linear-gradient(
      top,
      rgba(80, 80, 80, 0) 0%,
      rgb(80, 80, 80) 8%,
      rgb(80, 80, 80) 92%,
      rgba(80, 80, 80, 0) 100%
    );
    background: -ms-linear-gradient(
      top,
      rgba(80, 80, 80, 0) 0%,
      rgb(80, 80, 80) 8%,
      rgb(80, 80, 80) 92%,
      rgba(80, 80, 80, 0) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(80, 80, 80, 0) 0%,
      rgb(80, 80, 80) 8%,
      rgb(80, 80, 80) 92%,
      rgba(80, 80, 80, 0) 100%
    );

    z-index: 5;
  }

  li {
    padding: 1em 0;
    &::after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
  }
}

.left-side {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;

  .school {
    -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15),
      0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15),
      0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);

    :after {
      content: "";
      position: absolute;
      left: 100%;
      top: 50%;
      height: 0;
      width: 0;
      margin-top: -8px;
      border: solid transparent;
      border-left-color: rgb(248, 248, 248);
      border-width: 8px;
      pointer-events: none;
    }
  }
  .time-container {
    float: left;
  }
}

.right-side {
  position: relative;
  width: 300px;
  float: right;

  .school {
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15),
      0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15),
      0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);

    &:before {
      left: -40px;
    }

    &:after {
      content: "";
      position: absolute;
      right: 100%;
      top: 50%;
      height: 0;
      width: 0;
      margin-top: -8px;
      border: solid transparent;
      border-right-color: rgb(248, 248, 248);
      border-width: 8px;
      pointer-events: none;
    }
  }
  .time-container {
    float: right;
  }
  .description {
    margin: 1em 0 0 0.75em;
  }
}

.school-container {
  position: relative;
  display: inline-block;

  text-align: center;

  .school {
    position: relative;
    display: inline;
    background: rgb(80, 80, 80);
    padding: 6px 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    text-align: left;
  }

  .time-container {
    display: inline;

    line-height: 1em;
    font-size: 0.66666em;
    color: rgb(250, 80, 80);
    vertical-align: middle;
  }
}

.left-side .school:before,
.right-side .school:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: " ";
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid red;
  z-index: 10;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248, 248, 248);
}

.description {
  margin: 1em 0.75em 0 0;

  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

/******** Modal ********/
span.school {
  cursor: pointer;
  &:hover {
    background-color: red;
    transition: 0.3 ease;
  }
}
.modal {
  overflow-y: scroll;
  border-radius: 10px;
  z-index: 10;
  position: absolute;
  transform: translate(-50%, -30%);
  padding: 4em;
  box-shadow: 0 3em 5em rgba(0, 0, 0, 0.3);
  max-height: 400px;
  top: 50%;
  left: 50%;
  width: 70%;
  background-color: whitesmoke;

  ul {
    li {
      list-style: circle;
      ol {
        li {
          list-style: decimal;
        }
      }
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(3px);
}

.close-modal {
  position: absolute;
  top: 0.5em;
  right: 1em;
  font-size: 2em;
  columns: black;
  cursor: pointer;
  border: none;
  background: none;
}
